{% extends "auctions/layout.html" %}

{% block pageTitle %}
	Create Listing
{% endblock %}

{% block body %}
    <h2>Create New Listing</h2>
	<form action="{% url 'create' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" name="title" id="title" placeholder="Title">
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" class="form-control" name="description" id="description" placeholder="Description">
		</div>
		<div class="form-group">
			<label for="image">Image URL</label>
			<input type="text" class="form-control" name="imageUrl" id="image" placeholder="Image">
		</div>
		<div class="form-group">
			<label for="price">Price</label>
			<input type="number" min=0 class="form-control" name="price" id="price" placeholder="Price">
		</div>

		<div class="form-group">
			<label for="category">Category</label>
			<select name="category" class="custom-select mr-sm-2" id="category">
				<option selected disabled>Select</option>
				{% for category in categories %}
					<option value={{category.id}}>{{category}}</option>
				{% endfor %}
			  </select>
		</div>

		<button type="submit" class="btn btn-success">Create new listing</button>
	</form>
{% endblock %}

